/*  your css code here. If applicable */
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.container{
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 440px;
    background-color: darkgray;
    padding: 50px;
    border-radius: 20px;
    border: 4px solid black;
    margin-top: 50px;
    margin-left: 50px;
}
.circle1{
    background-color: green;
    border-radius: 50%;
    width: 100px;
    height: 100px;
    text-align: center;
    
}
.circle2{
    background-color: yellow;
    border-radius: 50%;
    width: 100px;
    height: 100px;
    text-align: center;
}
.circle3{
    background-color: red;
    border-radius: 50%;
    width: 100px;
    height: 100px;
    text-align: center;
}