/* Reset */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: #f0f0f0;
}

/* Container box */
.container {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 440px;
    background-color: rgba(0, 0, 0, 0);
    padding: 50px;
    border-radius: 40px;
    border: 4px solid black;
}

/* Circle shape */
.red, .yellow, .green {
    width: 100px;
    height: 100px;
    border-radius: 50%;
    display: inline-block;
}

/* Colors */
.green {
    background-color: rgb(0, 128, 0);
}

.yellow {
    background-color: rgb(255, 255, 0);
}

.red {
    background-color: rgb(255, 0, 0);
}
